.header {
  margin-top: 0;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lobster', cursive;
  color: black;
}

.headerTitleTop {
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 20px;
}

.headerTitleBottom {
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 110px;
}

.headerImage {
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 860px) {
  .headerTitleTop {
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: 20px;
  }
  
  .headerTitleBottom {
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: 110px;
  }
}